NODE_ENV=development
PORT=8080

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=user
DB_PASS=password
DB_NAME=atlaskit

# JWT
JWT_SECRET=change_me_to_a_long_random_string
JWT_COOKIE_NAME=atlaskit_auth
JWT_COOKIE_SECURE=false
